<div class="float-menu">
  <ul>
    <li>
      <input
        type="button"
        onclick="location.href='/nearbyhospitals';"
        value="Nearby Hospitals"
        class="primaryFloating"
      />
    </li>
    <li>
      <input
        type="button"
        onclick="location.href='/freeopinion';"
        value="Free Medical Opinion"
        class="primaryFloating"
      />
    </li>
  </ul>
</div>

<% if (cssPath) { %>
<link rel="stylesheet" href="<%= cssPath %>" />
<% } %>
