<footer>
    <div class="container-fluid bg-dark text-white">
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laboriosam animi excepturi temporibus consectetur laudantium illum, quidem ratione sequi nobis rerum unde amet distinctio inventore asperiores aspernatur rem ipsa porro.</p>
            </div>
        </div>
    </div>
</footer>