<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <link rel="stylesheet" href="/css/about.css">
    <main>   
        <h4 id="start">Welcome to gUNdE pAiNA dAaDi, your dedicated partner in heart health and risk detection.</h4>
        <p style="margin-left: 60px;">
            At gUNdE pAiNA dAaDi, we understand the paramount importance of cardiovascular health,<br>
             and we are committed to providing cutting-edge
             solutions to empower individuals on their journey to a heart-healthy life.</p>
             <hr>
    
        <strong style="margin: 40px;">Our Mission</strong>
        <div id="even">
            <p style="margin-left: 60px;">At the core of our mission is a simple yet profound goal:
                to make heart health accessible to everyone.<br> We believe that prevention is the key to a healthier future,
                and our innovative approach combines state-of-the-art technology with personalized care to
                detect and analyze heart risks comprehensively.</p><hr></div>
        <strong style="margin: 40px;">Who We Are</strong>
        <div id="odd">
            <p style="margin-left: 60px;">gUNdE pAiNA dAaDi is a team of passionate professionals ranging from medical
                experts to technology enthusiasts, united by a shared vision of revolutionizing heart health.<br>
                Our diverse team brings together expertise in cardiology, data analysis, and technology to create a platform
                that goes beyond traditional heart risk assessments.</p><hr></div>
        <strong style="margin: 40px;">Cutting-Edge Technology</strong>
        <div>
            <p style="margin-left: 60px;">Our platform harnesses the power of cutting-edge technology,
                utilizing advanced algorithms and artificial intelligence to provide precise and reliable heart risk assessments.<br>
                Through non-invasive methods, we aim to give you valuable insights into your cardiovascular well-being,
                enabling proactive measures to mitigate potential risks.</p><hr></div>
        <strong style="margin: 40px;">Personalized Care</strong>
            <div>
                <p style="margin-left: 60px;">We understand that each individual is unique, and so are their health needs.<br>
                That's why we prioritize personalized care in our approach.<br>
                Our platform not only detects heart risks but also tailors recommendations based on your specific health profile.<br> 
                We empower you to take charge of your heart health with personalized insights and actionable advice.</p><hr></div>
        <strong style="margin: 40px;">Commitment to Privacy and Security</strong><div>
            <p style="margin-left: 60px;">Your health data is precious, and we treat it with the utmost care.<br>
                Our commitment to privacy and security means that your information is encrypted, stored securely,
                and accessible only to you and authorized healthcare professionals.<br>
              You can trust us to handle your health data responsibly and ethically.<br></p><hr></div>
        <strong style="margin: 40px;">Empowering You for a Heart-Healthy Future</strong>
        <div>
            <p style="margin-left: 60px;">Whether you're proactively managing your health or have specific concerns,
                gUNdE pAiNA dAaDi is here to support you.<br> Our platform is designed to be user-friendly,
                ensuring that you can easily navigate through your heart health journey.<br>
                We believe in empowering you with knowledge, so you can make informed decisions for a heart-healthy future.<br></p><hr></div>
        <strong style="margin: 40px;">Locating Specialized Hospitals</strong>
        <div>
            <p style="margin-left: 60px;">Our platform doesn't just stop at providing heart risk assessments.<br>
                In the unfortunate event that you require specialized care,
                we offer a unique feature that helps you locate nearby hospitals with expertise in cardiovascular health.<br>
                We understand the urgency of accessing the right medical attention promptly,
                and our service is tailored to assist you in finding the most suitable healthcare facilities.<br></p><hr></div>
    </main>
    <footer>
        <strong>
            Thank you for choosing gUNdE pAiNA dAaDi as your partner in heart health.<br>
            Together, let's take the first step toward a healthier, happier, and heart-strong life.
        </strong>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>