<%- include('partials/head', { cssPath: '/css/analysis.css' }) %>
<%- include('partials/navbar',{ cssPath: '/css/navbar.css' }) %>

    <body>
        <main>
        <h1>Analysis</h1>

        <% if (Object.keys(allPredictions).length !== 0) { %>
        <table class="table table-group-divider table-striped" id="table">
            <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Date of Prediction</th>
                <th scope="col">Risk</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody id="tableBody"></tbody>
        </table>

        <div id="additionalInfo"></div>
        <% } else if (Object.keys(allPredictions).length === 0) { %>
            <h2>Predict your Heart Health!</h2>
            <a href="/predict" style="display: flex;justify-content: center;text-decoration: none;"><button style="background-color: rgb(112,172,124);align-items: center;">Click Here to Predict</button></a>
        <% } %>
    </main> 

        <script>
            let allPredictions = <%- JSON.stringify(allPredictions) %>;
            const tableBody = document.getElementById('tableBody');
            const additionalInfo = document.getElementById('additionalInfo');
            console.log(allPredictions);
            tableBuilder(allPredictions);

            function tableBuilder(data) {
                let i = 1;
                for (let predictionKey in data) {
                    let prediction = data[predictionKey];

                    // Intial Table Builder
                    let row = `<tr>
                                <td>${i}</td>
                                <td>${prediction.name}</td>
                                <td>${prediction.time}</td>
                                <td>${(parseFloat(prediction.predict_probability) * 100).toFixed(2)}</td>
                                <td><button type="button" class="secondary" data-bs-toggle="modal" data-bs-target="#prediction${i}">...</button></td>
                                </tr>`
                    tableBody.innerHTML += row;

                    // Additional Info Builder
                    let info = `<div class="modal fade" id="prediction${i}" tabindex="-1" aria-labelledby="ModalLabel${i}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen-md-down">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="ModalLabel${i}">Form Answers</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="info-name" style="display: inline;">
                                                    <h4>Name: </h4>
                                                    <p>${prediction.name}</p>
                                                </div>
                                                <div class="info-gender" style="display: inline;">
                                                    <h4>Gender: </h4>
                                                    <p>${prediction.Sex === 0 ? "Female" : "Male"}</p>
                                                </div>
                                                <div class="info-age" style="display: inline;">
                                                    <h4>Age: </h4>
                                                    <p>${prediction.Age}</p>
                                                </div>
                                                <div class="info-height" style="display: inline;">
                                                    <h4>Height: </h4>
                                                    <p>${prediction.height}cm</p>
                                                </div>
                                                <div class="info-weight" style="display: inline;">
                                                    <h4>Weight: </h4>
                                                    <p>${prediction.weight}kg</p>
                                                </div>
                                                <div class="info-HighBP" style="display: inline;">
                                                    <h4>High Blood Pressure: </h4>
                                                    <p>${prediction.HighBP === 0 ? "False" : "True"}</p>
                                                </div>
                                                <div class="info-HighChol" style="display: inline;">
                                                    <h4>High Cholesterol: </h4>
                                                    <p>${prediction.HighChol === 0 ? "False" : "True"}</p>
                                                </div>
                                                <div class="info-Stroke" style="display: inline;">
                                                    <h4>Stroke: </h4>
                                                    <p>${prediction.Stroke === 0 ? "False" : "True"}</p>
                                                </div>
                                                <div class="info-Diabetes" style="display: inline;">
                                                    <h4>Diabetes: </h4>
                                                    <p>${prediction.Diabetes === 0 ? "None" : prediction.Diabetes === 1 ? "Pre-Diabetes" : "Diabetes"}</p>
                                                </div>
                                                <div class="info-Smoker" style="display: inline;">
                                                    <h4>Smoking: </h4>
                                                    <p>${prediction.Smoker === 0 ? "False" : "True"}</p>
                                                </div>
                                                <div class="info-HvyAlcoholConsump" style="display: inline;">
                                                    <h4>Heavy Alcohol Consumption: </h4>
                                                    <p>${prediction.HvyAlcoholConsump === 0 ? "False" : "True"}</p>
                                                </div>
                                                <div class="info-PhysActivity" style="display: inline;">
                                                    <h4>Physical Activity: </h4>
                                                    <p>${prediction.PhysActivity === 0 ? "False" : "True"}</p>
                                                </div>
                                                <div class="info-diet" style="display: inline;">
                                                    <h4>You eat: </h4>
                                                    <p>${prediction.Fruits === 0 ? "" : "Fruits"} ${prediction.Veggies === 0 ? "" : "Veggies"}</p>
                                                </div>
                                                <div class="info-GenHlth" style="display: inline;">
                                                    <h4>General Health: </h4>
                                                    <p>${prediction.GenHlth}</p>
                                                </div>
                                                <div class="info-PhysHlth" style="display: inline;">
                                                    <h4>You suffered <span>${prediction.PhysHlth}</span> days of Bad Physical Health.</h4>
                                                </div>
                                                <div class="info-MentHlth" style="display: inline;">
                                                    <h4>You suffered <span>${prediction.MentHlth}</span> days of Bad Mental Health.</h4>
                                                </div>
                                                <div class="info-CholCheck" style="display: inline;">
                                                    <h4>Regular Cholesterol Levels Checkup: </h4>
                                                    <p>${prediction.CholCheck === 0 ? "False" : "True"}</p>
                                                </div>
                                                <div class="info-DiffWalk" style="display: inline;">
                                                    <h4>Difficulty Walking: </h4>
                                                    <p>${prediction.DiffWalk === 0 ? "False" : "True"}</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <form method="POST" action="/analysis/${prediction._id}?_method=DELETE">
                                                    <button type="submit" class="secondary">Delete</button>
                                                </form>
                                                <button type="button" class="secondary" data-bs-dismiss="modal">Close</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>`

                    additionalInfo.innerHTML += info;

                    i += 1;
                }
            }
        </script>

    </body>