<%- include('partials/head', { cssPath: '/css/faqcs.css' }) %>
<%- include('partials/navbar',{ cssPath: '/css/navbar.css' }) %>
<body>
  <div class="contentbox">
    <div class="header">
      <h1 class="header-title">FAQ</h1>
      <p class="header-desc">Frequently Asked Questions</p>
      <div >
        <h3>"Questions pave the path to understanding. Here, find the answers that illuminate your journey."</h3>
      </div>
    </div>
    <div class="faq">
      <div class="faq-name">
        <h1 class="faq-header">Have <br> questions?</h1>
        <img class="faq-img" src="images\faqimg.png" >
      </div>
      <div class="faq-box">
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-1">
          <label class="faq-title" for="faq-trigger-1">How does the heart health prediction system work? </label>
          <div class="faq-detail">
            <p>Our system utilizes advanced algorithms and data analysis based on a range of health indicators to assess your risk of a heart attack. By processing your input data, we provide personalized predictions to empower you in making informed decisions about your heart health. </p>                  
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-2">
          <label class="faq-title" for="faq-trigger-2">How accurate are the predictions?</label>
          <div class="faq-detail">
            <p>Our system is designed to provide informative insights, but it's important to note that no prediction system is infallible. We recommend consulting with a healthcare professional for a comprehensive assessment of your heart health.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-3">
          <label class="faq-title" for="faq-trigger-3">What lifestyle changes can improve heart health predictions?</label>
          <div class="faq-detail">
            <p>Adopting a heart-healthy diet (low in saturated fats, sugars, and high in fruits, vegetables, and whole grains), regular exercise, maintaining a healthy weight, managing stress, avoiding smoking, limiting alcohol intake,
               and getting sufficient sleep can significantly improve heart health predictions.<br>
              For additional information visit our<a href="freeOpinion"> <strong> free medical opinion page</strong></a></p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-4">
          <label class="faq-title" for="faq-trigger-4">Which hospitals are near me?</label>
          <div class="faq-detail">
            <p>To find hospitals near your location, you can use online mapping services like Google Maps by simply giving your current location or enable location services on your device and search for hospitals in the area.
              <br> You'll get a list of nearby hospitals along with their addresses, contact information, and possibly reviews or ratings to help you choose.
              <br>Or simply visit our<a href="/nearbyhospitals"><strong> Nearby Hospitals</strong></a> page.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-5">
          <label class="faq-title" for="faq-trigger-5">How can I predict my heart health ?</label>
          <div class="faq-detail">
            <p>Click on predict button on home page or just click<a href="/predict"><strong> predict</strong></a> to get redirected.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-6">
          <label class="faq-title" for="faq-trigger-6">Can I trust this website and it's predictions ?</label>
          <div class="faq-detail">
            <p>This website provides accurate prediction upto 92%.<br>For additional information visit our<a href="#"><strong> Terms and condition</strong></a> page.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-7">
          <label class="faq-title" for="faq-trigger-7">What information is needed to predict heart health accurately ?</label>
          <div class="faq-detail">
            <p>To ensure an accurate prediction of heart health, several key pieces of information are essential.<br>
                These include personal <b>health history, lifestyle habits, family medical history, age, gender
                and physiological metrics like blood pressure, cholesterol levels, BMI (Body Mass Index) 
                and any existing medical conditions such as diabetes.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-8">
          <label class="faq-title" for="faq-trigger-8">Why is it important to provide accurate lifestyle details for heart health prediction ?</label>
          <div class="faq-detail">
            <p>Lifestyle factors significantly impact heart health. <br>
              Details regarding exercise frequency, diet, smoking habits, alcohol consumption, stress levels, and sleep patterns help 
              create a holistic view of one's cardiovascular well-being.<br>
               These inputs aid in understanding risk factors and crafting personalized recommendations for improving heart health.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-9">
          <label class="faq-title" for="faq-trigger-9">Are there specific tests or screenings necessary for predicting heart health ?</label>
          <div class="faq-detail">
            <p>While general information is valuable, certain medical tests offer deeper insights. <br>
              Blood tests for cholesterol levels, glucose tolerance tests, blood pressure measurements, electrocardiograms (ECG),
               stress tests, and imaging studies like echocardiograms or CT scans can provide critical data for a more accurate heart health prediction.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-10">
          <label class="faq-title" for="faq-trigger-10">Can family history alone predict heart health risks ?</label>
          <div class="faq-detail">
            <p>Family medical history plays a significant role in assessing heart health risks. <br>
              However, it's only one part of the larger picture. Combining family history with personal health data and lifestyle details provides a 
              more comprehensive understanding of individual risk factors for cardiovascular diseases.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-11">
          <label class="faq-title" for="faq-trigger-11">How important is regular monitoring for maintaining heart health ?</label>
          <div class="faq-detail">
            <p>Regular monitoring is crucial for maintaining heart health.
               Periodic check-ups, monitoring blood pressure, cholesterol levels, and weight, along with adhering to recommended 
               screening schedules based on age and risk factors, help in early detection and prevention of potential heart-related issues.</p>
          </div>
        </div>
        <div class="faq-wrapper">
          <input type="checkbox" class="faq-trigger" id="faq-trigger-12">
          <label class="faq-title" for="faq-trigger-12">Is predicting heart health a guarantee of preventing heart diseases ?</label>
          <div class="faq-detail">
            <p>While predictive models help assess risks, they don't guarantee prevention. <br>
              However, they empower individuals to make informed choices. Adopting a heart-healthy lifestyle, following medical advice,
               managing risk factors, and seeking timely medical attention significantly reduce the likelihood of heart-related issues.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>