<%- include('partials/head') %>
<body>
    
    <%- include('partials/navbar') %>


    <div class="container-fluid">
        <div class="row background-img-main">
            <div class="col-6 ms-5 main-text">
                <p class="">Heart Health</p>
                <p>Prediction</p>
                <div class=" row main-description">
                    <div class="col-9">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. In deleniti totam eius et, ab excepturi, deserunt facere ducimus soluta sit facilis provident ullam perferendis odio expedita quae quas minus. Nihil.
                        </p>
                    </div>
                </div>
                <button class="btn btn-danger mt-3">Predict</button>
                <button class="btn btn-outline-primary mt-3 ms-3">See Analysis</button>
            </div>
        </div>
    </div>

    <section class="mt-4 mb-5">
        <div class="container text-center">
            <div class="row pt-5 pb-3 features">
                <div class="col-3">
                    <img src="/images/icons/icons8-iphone-14-pro-100.png" alt="phone" class="mb-4">
                    <p><span>Mobile Optimise</span><p>
                    <p>Optimised for viewing on different platforms and devices.</p>
                </div>
                <div class="col-3">
                    <img src="/images/icons/icons8-wallet-100.png" alt="wallet" class="mb-4">
                    <p><span>Decrease Costs</span></p>
                    <p>Predict the chance of having an heart attack free of charge.</p>
                </div>
                <div class="col-3">
                    <img style="height: 100px;" src="/images/icons/icons8-bulb-64.png" alt="bulb" class="mb-4">
                    <p><span>Smart Idea</span></p>
                    <p>Great Accuracy. Accurate prediction rates.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="model_info">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Our model is <span ><sub>92%</sub></span></h2>
            <h2>Accurate compared to other publicly</h2>
            <h2>available websites.</h2>
          </div>
          <div class="col">
            <img class="my-4 " src="images/brain-circuit.png" alt="brain">
          </div>
        </div>
      </div>
    </section>

    
    <%- include('partials/footer') %>



</body>
</html>