<%- include('partials/head', { cssPath: '/css/main-page-styles.css' }) %>

    <body>

        <%- include('partials/navbar',{ cssPath: '/css/navbar.css' }) %>
        <%- include('partials/flash') %>

            <main>
                <!-- <div class="text-center" id="sidebar">
                    <ul style="list-style: none; padding:0; margin: 0;">
                        <a href="/nearbyhospitals">
                            <li class="pt-3" style="border-bottom: 1px solid white;">
                                <img src="/images/icons/bookanappointment_icon.png" alt="book appointment">
                                <p>Nearby Hospitals</p>
                            </li>
                        </a>
                        <a href="/freeopinion">
                            <li class="pt-3">
                                <img src="/images/icons/envelopeopen_icon.png" alt="">
                                <p>Free Medical <br> Opinion</p>
                            </li>
                        </a>
                    </ul>
                </div> -->





                <div class="hero">
                    <div class="main-text">
                        <a href="#" class="latest">🎄☃️❄️ Happy January →</a>

                        <h1>Heart <span>Health</span> <br>Prediction</h1>
                        <div class="main-description">
                            <p>
                                Welcome, we prioritize your heart health. Empower yourself with personalized
                                insights and predictions to proactively manage your cardiovascular well-being.
                            </p>
                        </div>
                        <div class="buttons">
                            <input type="button" onclick="location.href='/predict';" value="Predict Results"
                                class="primary" />
                            <input type="button" onclick="location.href='/analysis';" value="See Analysis" class="secondary" />
                            <!-- <a href="/predict">
                                <button class="primary">Predict Results</button>
                            </a> -->
                            <!-- <a href="#">
                                <button class="secondary">See Analysis</button>
                            </a> -->
                        </div>
                    </div>
                    <div class="main-image">
                        <img src="/images/pixel-heart.gif" alt="heartGIF">
                    </div>
                </div>



                <section class="features"> <!--  features section -->
                    <h2>Why Us?</h2>
                    <div class="card-section">
                        <div class="feature-card">
                            <img src="/images/icons/mobile-phone-flatline.svg" alt="phone">
                            <h4>Mobile Optimised</h4>
                            <p>Optimised for viewing on different devices and screen sizes.</p>
                        </div>
                        <div class="feature-card">
                            <img src="/images/icons/wallet-two-color.svg" alt="wallet">
                            <h4>Decrease Costs</h4>
                            <p>Predict the chance of having a heart attack for free of charge.</p>
                        </div>
                        <div class="feature-card">
                            <img src="/images/icons/idea-4.svg" alt="bulb">
                            <h4>Smart Idea</h4>
                            <p>Great Accuracy. Accurate prediction rates.</p>
                        </div>
                    </div>
                </section>



                <section class="bento">
                    <ul class="bento-wrapper">
                        <li class="one">
                            <h2>92% Accurate</h2>
                            <p>than any other ML Models.</p>
                        </li>
                        <li class="two">
                            <h2>100% Free!</h2>
                            <p>Forever.</p>
                        </li>
                        <li class="three">
                            <h2>Preventing Tomorrow's Heartaches</h2>
                            <p>Accurate Predictions for a Healthy Heart.</p>
                        </li>
                        <li class="four">
                            <h2>User Friendly</h2>
                            <p>Easy, intuitive, and user-friendly - your effortless online experience starts here.</p>
                        </li>
                    </ul>
                </section>


                <section class="info">
                    <div class="left">
                        <h3>How to assess your Cardiac Health?</h3>
                        <h5>Get your personalized Cardiac Risk Assessment.</h5>
                    </div>
                    <div class="right">
                        <p class="step one">
                            Log in or register to access the cardiac risk assessment, ensuring secure data association.
                        </p>
                        <p class="step two">
                            After login, complete a form with age, lifestyle, etc., providing data for the assessment.
                        </p>
                        <p class="step three">
                            System analyzes data, displays risk level, and saves results to your profile.
                        </p>
                        <p class="step four">
                            Based on risk level, get personalized nutrition/exercise tips or info on nearby hospitals.
                        </p>
                    </div>
                </section>


                <section class="faq">
                    <div class="left">
                        <h2>FAQ</h2>
                        <h5>Answers to some questions you might have.</h5>
                    </div>
                    <div class="faqlist">
                        <div class="faqbox">
                            <div class="faq-q">
                                <h5>How does the heart health prediction system work?</h5>

                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" class="faq-icon"
                                    data-astro-cid-j7pv25f6="">
                                    <path d="M11.5 0L11.5 23" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                    <path d="M23 11.5L-2.38419e-07 11.5" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                </svg>
                            </div>
                            <div class="faqa">
                                <p>Our system utilizes advanced algorithms and data analysis based on a range of health
                                    indicators to assess your risk of a heart attack. By processing your input data, we
                                    provide personalized predictions to empower you in making informed decisions about
                                    your heart health.</p>
                            </div>
                        </div>
                        <div class="faqbox">
                            <div class="faq-q">
                                <h5>How accurate are the predictions?</h5>

                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" class="faq-icon"
                                    data-astro-cid-j7pv25f6="">
                                    <path d="M11.5 0L11.5 23" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                    <path d="M23 11.5L-2.38419e-07 11.5" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                </svg>
                            </div>
                            <div class="faqa">
                                <p>Our system is designed to provide informative insights, but it's important to note
                                    that no prediction system is infallible. We recommend consulting with a healthcare
                                    professional for a comprehensive assessment of your heart health.
                                </p>
                            </div>
                        </div>
                        <div class="faqbox">
                            <div class="faq-q">
                                <h5>Can I use this service in emergencies?</h5>

                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" class="faq-icon"
                                    data-astro-cid-j7pv25f6="">
                                    <path d="M11.5 0L11.5 23" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                    <path d="M23 11.5L-2.38419e-07 11.5" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                </svg>
                            </div>
                            <div class="faqa">
                                <p>No, our service is not intended for emergency situations.
                                    <br>If you believe you are experiencing a medical emergency, please call your local
                                    emergency number immediately.
                                </p>
                            </div>
                        </div>
                        <div class="faqbox">
                            <div class="faq-q">
                                <h5>What should I do if I receive a high-risk prediction?</h5>

                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" class="faq-icon"
                                    data-astro-cid-j7pv25f6="">
                                    <path d="M11.5 0L11.5 23" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                    <path d="M23 11.5L-2.38419e-07 11.5" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                </svg>
                            </div>
                            <div class="faqa">
                                <p>A high-risk prediction does not replace professional medical advice. Consult with
                                    your healthcare provider promptly to discuss your results, receive a thorough
                                    evaluation, and determine the most appropriate course of action.</p>
                            </div>
                        </div>
                        <div class="faqbox">
                            <div class="faq-q">
                                <h5>Is the service suitable for everyone?</h5>

                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" class="faq-icon"
                                    data-astro-cid-j7pv25f6="">
                                    <path d="M11.5 0L11.5 23" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                    <path d="M23 11.5L-2.38419e-07 11.5" stroke="var(--accent)" stroke-width="6"
                                        data-astro-cid-j7pv25f6=""></path>
                                </svg>
                            </div>
                            <div class="faqa">
                                <p>Our service is designed for informational purposes and may not be suitable for
                                    everyone. It is not a substitute for professional medical advice. Consult with your
                                    healthcare provider to determine the best approach for your individual health needs.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>



            <br>
            <%- include('partials/footer') %>

                <script src="/js/sidebar.js"></script>
                <script src="/scripts/homepage-faq.js"></script>


    </body>

    </html>