<%- include('partials/head', { cssPath: '/css/main-page-styles.css' }) %>
<body>
    
    <%- include('partials/navbar') %>


    <div class="text-center" id="sidebar">
        <ul style="list-style: none; padding:0; margin: 0;">
            <li class="pt-3" style="border-bottom: 1px solid white;">
                <a href="#"><img src="/images/icons/bookanappointment_icon.png" alt="book appointment"></a>
                <p><a href="#">Book Appointment</a></p>
            </li>
            <li class="pt-3">
                <a href="/freeopinion"><img src="/images/icons/envelopeopen_icon.png" alt=""></a>
                <p><a href="/freeopinion">Free Medical <br> Opinion</a></p>
            </li>
        </ul>
    </div>





    <div class="container-fluid">
        <div class="row background-img-main">
            <div class="col-6 ms-5 main-text">
                <p class="">Heart Health</p>
                <p>Prediction</p>
                <div class=" row main-description">
                    <div class="col-9">
                        <p>
                            Welcome, we prioritize your heart health. Empower yourself with personalized insights and predictions to proactively manage your cardiovascular well-being.
                        </p>
                    </div>
                </div>
                <button class="btn btn-danger mt-3">Predict</button>
                <button class="btn btn-outline-primary mt-3 ms-3">See Analysis</button>
            </div>
        </div>
    </div>



    <section class="mt-4 mb-5">   <!--  features section -->
        <div class="container text-center">
            <div class="row pt-5 pb-3 features">
                <div class="col-3">
                    <img src="/images/icons/icons8-iphone-14-pro-100.png" alt="phone" class="mb-4">
                    <p><span>Mobile Optimise</span><p>
                    <p>Optimised for viewing on different platforms and devices.</p>
                </div>
                <div class="col-3">
                    <img src="/images/icons/icons8-wallet-100.png" alt="wallet" class="mb-4">
                    <p><span>Decrease Costs</span></p>
                    <p>Predict the chance of having a heart attack free of charge.</p>
                </div>
                <div class="col-3">
                    <img style="height: 100px;" src="/images/icons/icons8-bulb-64.png" alt="bulb" class="mb-4">
                    <p><span>Smart Idea</span></p>
                    <p>Great Accuracy. Accurate prediction rates.</p>
                </div>
            </div>
        </div>
    </section>



    <section class="model_info">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h2>Our model is <span ><sub>92%</sub></span></h2>
            <h2>Accurate compared to other publicly</h2>
            <h2>available websites.</h2>
          </div>
          <div class="col-6 text-center">
            <img class="my-4 " src="images/model_picture_stock_image.png" alt="brain">
          </div>
        </div>
      </div>
    </section>




    <section class="collapsible_content mt-5 mb-4 ms-4">
        <div class="container">
            <div class="row">
                <p data-bs-toggle="collapse" data-bs-target="#one">
                    How does the heart health prediction system work? <span>&oplus;</span>
                </p>
                <div class="collapse mb-3" id="one">
                    <div class="card card-body">
                        Our system utilizes advanced algorithms and data analysis based on a range of health indicators to assess your risk of a heart attack. By processing your input data, we provide personalized predictions to empower you in making informed decisions about your heart health.                   
                    </div>
                </div>
            </div>
            <div class="row">
                <p data-bs-toggle="collapse" data-bs-target="#two">
                    How accurate are the predictions? <span>&oplus;</span>                
                </p>
                <div class="collapse" id="two">
                    <div class="card card-body">
                        Our system is designed to provide informative insights, but it's important to note that no prediction system is infallible. We recommend consulting with a healthcare professional for a comprehensive assessment of your heart health.
                    </div>
                </div>
            </div>
            <div class="row">
                <p data-bs-toggle="collapse" data-bs-target="#three">
                    Can I use this service in emergencies? <span>&oplus;</span>               
                </p>
                <div class="collapse" id="three">
                    <div class="card card-body">
                        No, our service is not intended for emergency situations. If you believe you are experiencing a medical emergency, please call your local emergency number immediately.
                    </div>
                </div>
            </div>
            <div class="row">
                <p data-bs-toggle="collapse" data-bs-target="#four">
                    What should I do if I receive a high-risk prediction? <span>&oplus;</span>               
                </p>
                <div class="collapse" id="four">
                    <div class="card card-body">
                        A high-risk prediction does not replace professional medical advice. Consult with your healthcare provider promptly to discuss your results, receive a thorough evaluation, and determine the most appropriate course of action.
                    </div>
                </div>
            </div>
            <div class="row">
                <p data-bs-toggle="collapse" data-bs-target="#five">
                    Is the service suitable for everyone? <span>&oplus;</span>
                </p>
                <div class="collapse" id="five">
                    <div class="card card-body">
                        Our service is designed for informational purposes and may not be suitable for everyone. It is not a substitute for professional medical advice. Consult with your healthcare provider to determine the best approach for your individual health needs.
                    </div>
                </div>
            </div>
        </div> 
    </section>





    
    <%- include('partials/footer') %>

    <script src="/js/sidebar.js"></script>


</body>
</html>