<%- include('partials/head', { cssPath: '/css/main-page-styles.css' }) %>
<%- include('partials/navbar',{ cssPath: '/css/navbar.css' }) %>

<body>

    <link rel="stylesheet" href="/css/nearbyHospitals-styles.css">

    <div>
        <p>
            Check Hospitals near your area
        </p>
    </div>



<body>
<html>