p{
    font-family: sans-serif;
    font-weight: 100;
    font-size: x-large;
}
strong{
    font-family: sans-serif;
    font-weight: 600;
    font-size: xx-large;
}
footer{
    margin-left: 40px;
}
h4{
    font-size: xx-large;
    font-weight: 700;
    margin: 10px;
}
h4::first-letter{
    font-size: 200%;
}