:root{
  --primaryColor:#DC143C;
  --softColor: #fffaf5;
  --secondary: #fe8e86;
  --whiteColor:#fffaf5;
  --blackColor:#222;
}
::-webkit-scrollbar{
  display: none;
}
html{
  scrollbar-width: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'poppins',sans-serif;
}
.contentbox{
  width: 100%;
  height: auto;
  padding: 3%;
  background-color: var(--softColor);
}
.header{
  background-image: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url('/images/faq_backimg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 3%;
  border-radius: 30px;
  max-height: 360px;
  color: var(--secondary);
}
.header-title{
  font-size: 45px;
  letter-spacing: 1.5;
}
.header-desc{
  font-size: 14px;
  letter-spacing: 1;
  text-align: center;
}
.faq{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 3%;
}
.faq-name{
  flex:0.5;
  padding: 2% 2% 0 0;
}
.faq-header{
  padding: 5% 0 0 0;
  font-size: 40px;
  letter-spacing: 2;
}
.faq-img{
  width: 100%;
  max-width: 400px;
}
.faq-box{
  flex: 1;
  min-width: 320px;
  padding: 2% 0 4% 4%;
  border-left: 2px solid var(--primaryColor);
}
.faq-wrapper{
  width: 100%;
  padding: 1.5rem;
  border-bottom: 1px solid var(--blackColor);
}
.contentbox a{
  text-decoration: none;
  color: black;
}
strong:hover{
  font-size: 17px;
}
.faq-title{
  display: block;
  position: relative;
  width: 100%;
  letter-spacing: 1.2;
  font-size: 24px;
  font-weight: 600;
  color: var(--primaryColor);
  cursor: pointer;
}
.faq-title::after{
  width: 10px;
  height: 10px;
  content: "";
  float: right;
  border-style: solid;
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
  transition: 0.4s ease-in-out;
}
.faq-detail{
  line-height: 1.5;
  letter-spacing: 1;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  font-size: 16px;
}
.faq-trigger{
  display: none;
}
.faq-trigger:checked + .faq-title + .faq-detail{
  max-height: 300px;
}
.faq-trigger:checked + .faq-title::after{
  transform: rotate(-45deg);
  transition: 0.4s ease-in-out;
}