:root {
    --text: #0f0f0f;
    --background: #fffaf5;
    --primary: #ad1105;
    --secondary: #fe8e86;
    --accent: #ff4133;

    font-family: 'Poppins', ui-sans-serif;
    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));

    --margin-lg: 0 12%;
    --margin-md: 0 6%;

    --border1: 1rem;
    --border05: 0.5rem;
}



/* star {
    box-sizing: border-box;
    scroll-padding-top: 3em;
} */


html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    background-color: var(--background);

}






main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Poppins', ui-sans-serif;
    margin: var(--margin-lg);
    width: auto !important;
    gap: 10em;
}



.hero {
    height: 75vh;
    line-height: 1.5;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    margin: 2rem 6rem;
}

.hero .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2em;
    width: 50%;
}

.main-text .latest {
    padding: 0.2rem 0.5rem;
    border: 1px solid rgba(254, 142, 134, 0.3);
    width: fit-content;
    border-radius: 0.5rem;
    background: rgba(254, 142, 134, 0.2);
    font-size: var(--small);
    opacity: 100%;

    transition: opacity ease 0.3s;
}

.main-text .latest:hover {
    opacity: 70%;
}

h1 {
    font-size: var(--h1);
    font-weight: 700;
    line-height: 1.3;
}

h1 span {
    background: linear-gradient(120deg, var(--primary), var(--accent));
    background-clip: text;
    /* For Compatibility - background-clip */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-description p {
    font-size: 16px;
    font-weight: 400;

    line-height: 2;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: flex-end;

    cursor: pointer;
}

.primary {
    color: #fff;

    padding: 0.5em 2em;
    background-color: var(--primary);
    border-radius: 0.5rem;
    border-color: transparent;
    font-size: 1rem;

    margin: 0;
    line-height: 1.75;

    transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.primary:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--primary);
}

.secondary {
    color: #0f0f0f;

    padding: 0.5em 2em;
    background-color: rgba(254, 142, 134, 0.3);
    border-radius: 0.5rem;
    border-color: transparent;
    font-size: 1rem;

    margin: 0;
    line-height: 1.75;

    transition: transform ease 0.2s, box-shadow ease 0.2s;
}

.secondary:hover {
    transform: translate(0, -3px);
}


.features {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 2em;
    justify-content: center;
    align-items: center;
}

.card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
}

.feature-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 2.5rem;
    gap: 20px;
    background-color: rgba(173, 17, 5, 0.05);
    border-radius: 1rem;
}

.features h2 {
    font-size: var(--h2);
    font-weight: 700;
}

.features h4 {
    color: #0f0f0f;
    font-size: var(--h4);
    font-weight: 400;
}

.features img {
    height: 10rem;
}


.features p {
    font-size: 1rem;
    line-height: 2;
    margin: 0;
}





.bento {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.bento-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60% 40%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.bento-wrapper li {
    list-style-type: none;
    padding: 4rem 0.4rem;
    text-align: center;
    max-width: 100%;
    border-radius: var(--border1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
    margin: 0;
}

.bento h2 {
    font-size: var(--h2);
    font-weight: 700;
}

.bento .one p {
    font-size: var(--p);
    font-weight: 400;
}


.bento .one {
    color: #fff;
    background-color: var(--primary);
    grid-area: 1 / 1 / 2 / 5;

}

.bento .two {
    color: var(--text);
    background-color: var(--secondary);
    grid-area: 1 / 5 / 2 / 6;
}

.bento .three {
    color: #fff;
    background-color: var(--text);
    grid-area: 2 / 1 / 3 / 4;
}

.bento .four {
    color: var(--text);
    background-color: var(--accent);
    grid-area: 2 / 4 / 3 / 6;
}




.info {
    background-color: rgba(254, 142, 134, 0.2);
    border-radius: var(--border1);
    padding: 3em 5em;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: space-between;
}

.info .left {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left h3 {
    font-size: var(--h3);
    font-weight: 600;
}

.left h5 {
    font-size: var(--h5);
    font-weight: 400;
}

.info .right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 70%;
    gap: 5rem;
}

.info .step {
    width: 30%;
    flex-grow: 2;

    font-size: 1rem;
    line-height: 2;
}

.info .one::before {
    content: "1";
    font-size: var(--h3);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent);
    line-height: 1;
}


.info .two::before {
    content: "2";
    font-size: var(--h3);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent);
    line-height: 1;
}


.info .three::before {
    content: "3";
    font-size: var(--h3);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent);
    line-height: 1;
}


.info .four::before {
    content: "4";
    font-size: var(--h3);
    font-weight: 800;
    position: absolute;
    transform: translate(-1em);
    color: var(--accent);
    line-height: 1;
}

.faq {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2em;
    width: 100%;
    position: relative;
}

.faq .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.faq .left h2 {
    font-size: var(--h2);
    font-weight: 700;
}

.faq .left h5 {
    font-size: var(--h5);
}

.faqlist {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    position: relative;
}

.faqbox {
    background-color: rgba(254, 142, 134, 0.2);
    border-radius: var(--border05);
    position: relative;
}

.faq-q {
    border: none;
    outline: none;
    text-align: left;
    padding: 20px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.faq-q h5 {
    font-size: var(--h5);
    font-weight: 700;
    margin-bottom: 0px !important;
}

.faqa {
    position: relative;
    font-size: var(--p);
    padding: 0 20px;
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 var(--border05) var(--border05);


    opacity: 0;
    max-height: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}


.faqa.active {
    display: block;
    opacity: 1;
    max-height: 200px;
    /* Adjust based on your content height */
}

.faq-icon {
    transform: rotate(0);
    transition: all ease-in-out .2s;
    max-width: 5%;
}

.faq-icon.expand {
    transform: rotate(45deg);
    transition: all ease-in-out .2s;
}

.collapsible_content p {
    padding: 5px;
    font-size: x-large;
    background: rgb(2, 0, 36);
    background: linear-gradient(148deg, rgba(2, 0, 36, 1) 0%, rgba(244, 244, 246, 1) 0%, rgba(248, 248, 246, 1) 63%);
    position: relative;
}

.collapsible_content span {
    position: absolute;
    top: 20%;
    right: 2%;
    font-size: large;
    color: grey;
}

.collapsible_content p:hover {
    cursor: pointer;
}

.collapsible_content .row {
    margin-top: 5px;
}



#sidebar {
    color: white;
    background-color: rgb(245, 134, 52);
    position: fixed;

    width: 89px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: small;

    display: flex;
    justify-content: center;
    padding-left: 0;
    top: 50vh;
    /* left: 94.2%; */
    left: 99.2vw;

    transition: left 0.3s ease;

}

#sidebar:hover {
    left: 94.2vw;
}

#sidebar a {
    color: white;
    text-decoration: none;
}


a {
    text-decoration: none;
    color: inherit;
}

/* footer img {
    cursor: pointer;
    height: 22px;
    width: 22px;
    position: relative;
    bottom: 2em;
    left: 99%;
} */

/* ----- Mobile Compatability */
@media screen and (max-width: 1500px) {
    main {
        margin: var(--margin-lg);
    }
}

@media screen and (max-width: 1000px) {
    main {
        gap: 2em;
        margin: 2rem 5% 0 5%;
        overflow: visible !important;
    }

    .hero {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2em;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0 6rem;
        height: 90vh;
    }

    .hero .main-text {
        height: 80vh;
        width: auto !important;
        gap: 0.5em;
        white-space: wrap;
        font-size: var(--h2);
    }

    .buttons {
        flex-direction: column;
        gap: 0.4em;
    }
}