* {
    font-family: "Urbanist", sans-serif;
}

/* body::-webkit-scrollbar {
    to remove scroll-bar from the side
    overflow: -moz-scrollbars-none;
    width: 0 !important;
    display: none;
} */
::-webkit-scrollbar{
    display: none;
  }
  html{
    scrollbar-width: none;
  }

body {
    overflow-x: hidden;
}



nav {
    font-weight: bold;
}


.navbar-brand img {
    max-width: 4rem;
    height: 2.7rem;
    position: absolute;
    top: 2px;
    left: 10px;

}

.nav-link:hover {
    color: red;
}