#map {
    margin-left: 1em;
    box-shadow: 5px 5px 5px 5px grey;
}

.hospital_image img {
    width: 60%;
    height: 100%;
    padding: 0;
}

.list_of_hospitals {
    margin-left: 1em;
    background: rgb(2, 0, 36);
    background: linear-gradient(148deg, rgba(2, 0, 36, 1) 0%, rgba(244, 244, 246, 1) 0%, rgba(248, 248, 246, 1) 63%);
    padding: 1em;
}

.list_of_hospitals p {
    font-size: 1.8em;
}

.list_of_hospitals li {
    font-size: large;
    margin-bottom: 3%;
}



.list_of_hospitals a::after {
    content: url('/images/icons/external-link.svg');
    display: inline-block;
    margin-left: 5px;
}